@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-slate-900 font-body px-5;
  }
}
@layer components {
  .page-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-container-fluid {
    max-width: 1280px;
  }
}
